[submodule "sdks/googletest"]
	path = 3rdparty/googletest
	url = /home/markus/projects/git/sdks/unit_test/googletest/
[submodule "sdks/tfl"]
	path = sdks/tfl
	url = /home/markus/projects/git/libs/tfl/
[submodule "sdks/toolib"]
	path = sdks/toolib
	url = /home/markus/projects/git/libs/toolib
