[submodule "sdks/ToolsFL/tooBasicCodeSupport"]
	path = sdks/ToolsFL/tooBasicCodeSupport
	url = c:/projects/git/libs/ToolsFL/tooBasicCodeSupport/
[submodule "sdks/ToolsFL/tooBuildEnv"]
	path = sdks/ToolsFL/tooBuildEnv
	url = c:/projects/git/libs/ToolsFL/tooBuildEnv/
[submodule "sdks/Toolib"]
	path = sdks/Toolib
	url = c:/projects/git/libs/Toolib/
[submodule "sdks/ToolsFL/tooLinklib"]
	path = sdks/ToolsFL/tooLinklib
	url = c:/projects/git/libs/ToolsFL/tooLinklib/
[submodule "sdks/ToolsFL/tooString"]
	path = sdks/ToolsFL/tooString
	url = c:/projects/git/libs/ToolsFL/tooString/
[submodule "sdks/googletest"]
	path = sdks/googletest
	url = /mnt/data/projects/git/sdks/unit_test/googletest/
[submodule "sdks/ToolsFL/tooMem"]
	path = sdks/ToolsFL/tooMem
	url = /mnt/data/projects/git/libs/ToolsFL/tooMem/
